{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ app.name }} {% trans 'Builds' %}{% endblock %}

{% block csshead %}
    {{ block.super }}
    <!-- DataTables CSS -->
    <link href="{% static "datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}"
          rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static "css/datatables-responsive/css/dataTables.responsive.css" %}" rel="stylesheet">
{% endblock %}

{% block page_name %}{% trans 'Builds' %}{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
            <th>{% trans "Commit" %}</th>
            <th>{% trans "Build On" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for build in builds %}
            <tr>
                <td>{{ build.commit }}</td>
                <td>{{ build.finished_at }}</td>
                <td>{{ build.status_description }}</td>
                <td>
                    {% if not build.is_running %}
                        <a href="{% url 'launch-build' build.id %}" type="button"
                           class="btn btn-outline btn-primary">{% trans 'Launch' %}</a>
                    {% else %}
                        <a href="{% url 'stop-build' build.id %}" type="button"
                           class="btn btn-outline btn-primary">{% trans 'Stop' %}</a>
                    {% endif %}
                    <a href="" type="button"
                       class="btn btn-outline btn-danger">{% trans 'Destroy' %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block jsfooter %}
    {{ block.super }}
    <!-- DataTables JavaScript -->
    <script src="{% static "js/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}"></script>
{% endblock %}